<form action="<%= ActionController::Base.relative_url_root %>/concepts" method="get">
	<label>Zoekterm</label>
	<input name="q" type="text" /><br />
</form>
<form action="<%= ActionController::Base.relative_url_root %>/concepts" method="get">
	<label>PPN</label>
	<input name="ppn" type="text" />
</form>
